<!doctype html>
<html>
    <head>
        <title>Universal React Saga</title>
        <link rel="stylesheet" href="/build/main.css" />
    </head>
    <body>
        <div id="mount"><%- html %></div>
        <script><%- state %></script>

        <script src="/build/main.js"></script>
    </body>
</html>
